/*
 * @Author: Null
 * @Date: 2021-11-29 15:27:36
 * @Description: padding 的rem尺寸
 */

/* padding=0 */
.#{$prefixRem}-p-0 {
    padding: 0rem;
}

.#{$prefixRem}-pt-0 {
    padding-top: 0rem;
}

.#{$prefixRem}-pr-0 {
    padding-right: 0rem;
}

.#{$prefixRem}-pb-0 {
    padding-bottom: 0rem;
}

.#{$prefixRem}-pl-0 {
    padding-left: 0rem;
}

/* padding=4 */
.#{$prefixRem}-p-4 {
    padding: 0.25rem;
}

.#{$prefixRem}-pt-4 {
    padding-top: 0.25rem;
}

.#{$prefixRem}-pr-4 {
    padding-right: 0.25rem;
}

.#{$prefixRem}-pb-4 {
    padding-bottom: 0.25rem;
}

.#{$prefixRem}-pl-4 {
    padding-left: 0.25rem;
}

/* padding=8 */
.#{$prefixRem}-p-8 {
    padding: .5rem;
}

.#{$prefixRem}-pt-8 {
    padding-top: .5rem;
}

.#{$prefixRem}-pr-8 {
    padding-right: .5rem;
}

.#{$prefixRem}-pb-8 {
    padding-bottom: .5rem;
}

.#{$prefixRem}-pl-8 {
    padding-left: .5rem;
}

/* padding-10 */
.#{$prefixRem}-p-10 {
    padding: .625rem;
}

.#{$prefixRem}-pt-10 {
    padding-top: .625rem;
}

.#{$prefixRem}-pr-10 {
    padding-right: .625rem;
}

.#{$prefixRem}-pb-10 {
    padding-bottom: .625rem;
}

.#{$prefixRem}-pl-10 {
    padding-left: .625rem;
}

/* padding-12 */
.#{$prefixRem}-p-12 {
    padding: .75rem;
}

.#{$prefixRem}-pt-12 {
    padding-top: .75rem;
}

.#{$prefixRem}-pr-12 {
    padding-right: .75rem;
}

.#{$prefixRem}-pb-12 {
    padding-bottom: .75rem;
}

.#{$prefixRem}-pl-12 {
    padding-left: .75rem;
}

/* padding-16 */
.#{$prefixRem}-p-16 {
    padding: 1rem;
}

.#{$prefixRem}-pt-16 {
    padding-top: 1rem;
}

.#{$prefixRem}-pr-16 {
    padding-right: 1rem;
}

.#{$prefixRem}-pb-16 {
    padding-bottom: 1rem;
}

.#{$prefixRem}-pl-16 {
    padding-left: 1rem;
}

